div.FitUiControlCheckBox
{
	cursor: pointer;
	width: auto;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.FitUiControlCheckBox[data-enabled="false"]
{
	cursor: not-allowed;
	opacity: 0.65;
}

div.FitUiControlCheckBox:focus
{
	outline: none; /* Chrome fix - even though tabIndex is -1, control is still outlined when clicked */
}
div.FitUiControlCheckBox[data-enabled="true"]:focus > div
{
	border-color: #4484C7;
	color: #4484C7;
}

div.FitUiControlCheckBox > div
{
	border: 0.065em solid #BBBBBB;
	border-width: 1px\9;
	border-radius: 2px;
	margin-right: 0.3em;
	color: #333333;
	background-color: #FFFFFF;
}
div.FitUiControlCheckBox[data-checked="false"] > div:before
{
	visibility: hidden;
}

div.FitUiControlCheckBox[data-enabled="true"][data-valid="false"][data-showinvalid="true"]
{
	outline: none;
}
div.FitUiControlCheckBox[data-enabled="true"][data-valid="false"][data-showinvalid="true"] > div
{
	border-color: red;
}
