div.FitUiControlCheckBox
{
	cursor: pointer;
	width: auto;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.FitUiControlCheckBox[data-enabled="false"]
{
	cursor: not-allowed;
	opacity: 0.65;
}

div.FitUiControlCheckBox:focus
{
	outline: none; /* Chrome fix - even though tabIndex is -1, control is still outlined when clicked */
}
div.FitUiControlCheckBox[data-enabled="true"]:focus
{
	outline: 2px solid #3B99FC;
	outline-offset: 2px;
	border: 1px solid #3B99FC\9; /* Legacy IE (9 and earlier) which does not support outline */
}

div.FitUiControlCheckBox > div
{
	border: 0.065em solid #BBBBBB;
	border-width: 1px\9;
	border-radius: 2px;
	margin-right: 0.3em;
	color: #333333;
	background-color: #FFFFFF;
}
div.FitUiControlCheckBox[data-checked="false"] > div:before
{
    visibility: hidden;
}

div.FitUiControlCheckBox[data-valid="false"]
{
	outline: none;
}
div.FitUiControlCheckBox[data-valid="false"] > div
{
	border-color: red;
}
