div.FitUiControlInput
{
	height: 2em; /* Equal height for all controls */
	height: auto\9; /* Undo equal height for all controls in IE9 and below - assume height of content in legacy IE which does not render properly when input height is set to 100% of container */
}

div.FitUiControlInput input:first-child,
div.FitUiControlInput textarea:first-child
{
	width: 100%;
	height: 100%;
	padding: 0.2em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	margin: 0px;
	text-align: inherit;
	font-size: inherit;
	border: 0.065em solid #BBBBBB;
	border-width: 1px\9;
	border-radius: 2px;
	display: block; /* Remove annoying spacing above input when outline is applied (when value is invalid) */

	/* Make it look decent on iOS Safari */
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

/* Hide clear button within input fields in IE */
div.FitUiControlInput input:first-child::-ms-clear
{
	display: none;
}

/* Error indication */
div.FitUiControlInput[data-enabled="true"][data-valid="false"]
{
	outline: none;
}
div.FitUiControlInput[data-enabled="true"][data-valid="false"] input:first-child,
div.FitUiControlInput[data-enabled="true"][data-valid="false"] textarea:first-child
{
	border-color: red;
}

/* Maximize button */
div.FitUiControlInput > span.fa
{
	position: absolute;
	top: 0px;
	right: -1.5em;
	cursor: pointer;
}
div.FitUiControlInput > span.fa:focus
{
	outline: none;
}
div.FitUiControlInput[data-maximizable="true"]
{
    margin-right: 2em;
}

/* Remove outline when input has focus */
div.FitUiControlInput input:first-child:focus,
div.FitUiControlInput textarea:first-child:focus,
div.FitUiControlInput[data-designmode="true"]:focus /* Prevent outline if toolbar is clicked */
{
	outline: none;
}

/* Disable textarea resizing */
div.FitUiControlInput textarea:first-child
{
	resize: none;
}
