div.FitUiControlInput input:first-child,
div.FitUiControlInput textarea:first-child
{
	width: 100%;
	height: 100%;
	padding: 1px;
	margin: 0px;
	text-align: inherit;
	font-size: inherit;
	border: 1px solid #909090;
	border-radius: 2px;
	display: block; /* Remove annoying spacing above input when outline is applied (when value is invalid) */

	/* Make it look decent on iOS Safari */
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

/* Hide clear button within input fields in IE */
div.FitUiControlInput input:first-child::-ms-clear
{
	display: none;
}

/* Error indication */
div.FitUiControlInput[data-valid="false"]
{
	outline: none;
}
div.FitUiControlInput[data-valid="false"] input:first-child,
div.FitUiControlInput[data-valid="false"] textarea:first-child
{
	border-color: red;
}

/* Maximize button */
div.FitUiControlInput
{
	position: relative;
}
div.FitUiControlInput span.fa
{
	position: absolute;
	top: 0px;
	right: -20px;
}
div.FitUiControlInput[data-maximizable="true"]
{
    margin-right: 25px;
}

/* Remove outline when input has focus */
div.FitUiControlInput input:first-child:focus,
div.FitUiControlInput textarea:first-child:focus
{
	outline: none;
}

/* Disable textarea resizing */
div.FitUiControlInput textarea:first-child
{
	resize: none;
}
