div.FitUiControlDialogEditor div.FitUiControlDialogContent
{
	padding: 0px;
	overflow: hidden; /* Make sure scrollbars do not emerge when resizing dialog (reducing height) - editor has scrollbars */
}

div.FitUiControlDialogEditor .cke_chrome
{
	border: none;
}

div.FitUiControlDialogEditor .cke_wysiwyg_div
{
	padding: 0.5em 1.5em;
}