/* ControlBase */

.FitUiControl
{
	display: inline-block;
	width: 200px; /* Important: Update default width for Input control in DesignMode if this is changed! */

	position: relative; /* Allow absolute positioning of children, relative to control container rather than document */
}

.FitUiControl * /* A bit aggressive, but makes sure sizing is done properly */
{
	box-sizing: border-box;
}

div.FitUiControlError
{
	/* Used in conjunction with fa and fa-exclamation-circle classes
	   to produce a warning indicator that floats to the left of controls  */

	position: absolute;
	left: -25px;

	width: 18px;
	height: 18px;
	font-size: 14px;
	padding: 2px;
	background-color: #F0481B;
	color: #FFFFFF;
	text-align: center;
	border-radius: 8px; /* IE7/IE8: Rounded corners not supported - too bad! */
	cursor: pointer;
}
div.FitUiControlErrorCorrected
{
	background-color: green;
}

/* Drag and Drop */

.FitDragDropDraggable
{
    cursor: move;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.FitDragDropDraggable:hover
{
    border-color: blue !important;
}

.FitDragDropDraggable.FitDragDropDragging
{
    opacity: 0.6;
    z-index: 99999;
}

.FitDragDropDropzoneActive
{
    background-color: red !important;
}
