/*

Stacking context, Z-index:

 - Error indicator			: 500
 - Calendar					: 1000
 - Context menu				: 1000
 - Drop down				: 1000
 - Dialog					: 1200
   - Modal BG layer			: 1100
 - Dragging					: 99999

*/

.FitUiStyleCheck
{
	position: fixed;
	top: -100px;
	left: -100px;
	width: 20px;
	height: 20px;
}

/* ControlBase */

.FitUiControl
{
	display: inline-block;
	width: 200px; /* Important: Update default width for Input control in DesignMode if this is changed! */

	position: relative; /* Allow absolute positioning of children, relative to control container rather than document */
}

.FitUiControl, .FitUiControl * /* A bit aggressive, but makes sure sizing is done properly */
{
	box-sizing: border-box;
}

.FitUiControl input:-ms-input-placeholder
{
	color: silver; /* Make it possible to distinguish placeholder values from actual text values in IE */
}

/* Validation error (value validation) */
.FitUiControl[data-valid="false"]
{
	outline: 2px solid red;
}
.FitUiControl[data-valid="false"][data-errormessage]:hover:after
{
	/* Legacy IE */

	content: attr(data-errormessage);
	border: 1px solid #333333;
	border-radius: 3px;
	background-color: #FEFFDD;
	padding: 0.65em;
	font-size: 0.9em;
	white-space: pre-line;
	position: absolute;
	margin-top: 1px;
	z-index: 500;

	/* Fix if control is aligned to the right */
	text-align: left;
}
.FitUiControl[data-valid="false"][data-errormessage]:not(#LegacyIE):hover:after
{
	/* Undo above on modern browsers */

	content: "";
	display: none;
}
.FitUiControl[data-valid="false"][data-errormessage][data-focused="false"]:not(#LegacyIE):hover:before,
.FitUiControl[data-valid="false"][data-errormessage][data-focused="true"]:not(#LegacyIE):before
{
	/* Modern browsers - placed above control (requires support for transform) */

	content: attr(data-errormessage);
	border-radius: 3px;
	background-color: #FEFFDD;
	box-shadow: 0px 0px 6px 0px #A1A1A1;
	padding: 0.65em;
	font-size: 0.9em;
	white-space: pre-line;
	position: absolute;
	box-sizing: border-box;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	margin-top: -3px;
	z-index: 500;

	/* Fix if control is aligned to the right */
	text-align: left;
}

.FitUiControlLoadingIndicator
{
	/* From FontAwesome fa-spin class */
	-webkit-animation: fa-spin 1.25s infinite linear;
	animation: fa-spin 1.25s infinite linear;

	/* From FontAwesome fa class */
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding: 0em 0.75em 0em 0.75em;
}
.FitUiControlLoadingIndicator:before
{
	/* From FontAwesome fa-refresh class */
	content: "\f021";
}

/* Drag and Drop */

.FitDragDropDraggable
{
    cursor: move;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.FitDragDropDraggable.FitDragDropDragging
{
    opacity: 0.6;
    z-index: 99999;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
