/* ControlBase */

.FitUiControl
{
	display: inline-block;
	width: 200px; /* Important: Update default width for Input control in DesignMode if this is changed! */

	position: relative; /* Allow absolute positioning of children, relative to control container rather than document */
}

.FitUiControl, .FitUiControl * /* A bit aggressive, but makes sure sizing is done properly */
{
	box-sizing: border-box;
}

/* Validation error (value validation) */
.FitUiControl[data-valid="false"]
{
	outline: 2px solid red;
}
.FitUiControl[data-valid="false"][data-errormessage]:hover:after
{
	content: attr(data-errormessage);
	box-shadow: 0px 0px 5px 0px #797979;
	border-radius: 2px;
	background-color: #FEFFDD;
	padding: 0.75em;
	white-space: pre-line;
	position: absolute;
	margin-top: 0.2em;
	z-index: 999;

	/* Fix if control is aligned to the right */
	left: 0px;
	text-align: left;
}

.FitUiControlLoadingIndicator
{
	/* From FontAwesome fa-spin class */
	-webkit-animation: fa-spin 1.25s infinite linear;
	animation: fa-spin 1.25s infinite linear;

	/* From FontAwesome fa class */
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding: 0em 0.75em 0em 0.75em;
}
.FitUiControlLoadingIndicator:before
{
	/* From FontAwesome fa-refresh class */
	content: "\f021";
}

/* Drag and Drop */

.FitDragDropDraggable
{
    cursor: move;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.FitDragDropDraggable:hover
{
    border-color: blue !important;
}

.FitDragDropDraggable.FitDragDropDragging
{
    opacity: 0.6;
    z-index: 99999;
}

.FitDragDropDropzoneActive
{
    background-color: red !important;
}
