/* Modern control (default) */

div.FitUiControlFilePicker[data-legacy="false"] input
{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: inherit; /* Inherit cursor from Button - does not work for button in native file picker on WebKit/Chrome on OSX */
}
div.FitUiControlFilePicker[data-legacy="false"] div.FitUiControlButton
{
	/* Since cursor:inherit above doesn't work properly on WebKit/Chrome, simply always use
	   cursor:default for FilePicker button to prevent cursor from changing between
	   Default and Pointer, when moving mouse around on top of FilePicker.
	   It is only the button from the native file picker (which is hidden using opacity:0)
	   that doesn't support cursor:inherit - it is quite confusing that the cursor changes. */
	cursor: default;
}

/* Legacy control */

div.FitUiControlFilePicker[data-legacy="true"] input
{
	display: block;
}

/* Dropzone */

div.FitUiControlFilePicker[data-dropzone="true"]
{
	border: 0.15em dashed #BBBBBB;
}

div.FitUiControlFilePicker[data-dropzone="true"][style*="height"]
{
	/* Make sure dropzone has a width when a height is configured,
	   since dropzone container is positioned (taken out of flow),
	   causing control to vertically collapse without a width. */
	min-width: 15em;
}

div.FitUiControlFilePicker[data-dropzone="true"][style*="height"] > div /* dropzone container */
{
	/* Center dropzone container vertically when control height is set */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
div.FitUiControlFilePicker[data-dropzone="true"] > div /* dropzone container */
{
	text-align: center;
	padding: 1em;
}

div.FitUiControlFilePicker[data-dropzone="true"] div.FitUiControlButton
{
	margin-top: 0.75em;
}

div.FitUiControlFilePicker[data-dropzone="true"][data-dropping="true"]
{
	background-color: rgba(0, 0, 0, 0.05);
}