div.FitUiControlDialog
{
	border: 1px solid #333333;
	background: #FFFFFF;
	min-width: 280px; /* Must be identical to the value specified in MinimumWidth(..) in Dialog.js ! */
	max-width: 800px; /* Must be identical to the value specified in MaximumWidth(..) in Dialog.js ! */

	position: fixed;

	/* Centering for Legacy browsers - unfortunately this does not work with width:auto, so it defaults to 50% */
	width: 50%; /* Must be identical to the value specified in Width(..) in Dialog.js ! */
	overflow: auto; /* Show scroll if too much information is squeezed into the dialog */
	top: 2em;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 1200;
}
div.FitUiControlDialog:not(#LegacyIE) /* :not() not supported by IE8 and below */
{
	border: none;
	box-shadow: 0px 0px 10px 0px #333333;
	border-radius: 2px;

	/* Centering for modern browsers - automatically fits to content */
	width: auto;
	/*overflow: visible;*/
	margin: 0;
	top: 25%;
	left: 50%;
	right: auto; /* Prevent dialog from stretching to the maximum width allowed - respect width:auto */
	-webkit-transform: translate(-50%, -25%);
	-moz-transform: translate(-50%, -25%);
	-ms-transform: translate(-50%, -25%);
	-o-transform: translate(-50%, -25%);
	transform: translate(-50%, -25%);
}

div.FitUiControlDialog > div
{
	padding: 1.5em;
}

div.FitUiControlDialog > div + div /* Buttons */
{
	padding: 0px;
	border-top: 1px solid silver;
	text-align: right;
}
div.FitUiControlDialog > div + div div.FitUiControlButton
{
	margin: 0.75em;
}
div.FitUiControlDialog > div + div div.FitUiControlButton + div.FitUiControlButton
{
	margin-left: 0px;
	margin-top: 0px; /* In case buttons flow below each other if dialog gets too narrow */
}

div.FitUiControlDialogModalLayer
{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1100;

	background-color: #333333;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
