div.FitUiControlButton
{
	cursor: pointer;
	width: auto;
	text-align: center;
	white-space: nowrap;
	overflow: hidden; /* Notice: Causes small spacing below button - visible when contained in another element with borders */
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* data-type="Default" */
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #333333;
}

div.FitUiControlButton[data-type="Primary"]
{
	border-color: #2E6DA4;
	background-color: #337AB7;
	color: #FFFFFF;
}

div.FitUiControlButton[data-type="Success"]
{
	border-color: #4CAE4C;
	background-color: #5CB85C;
	color: #FFFFFF;
}

div.FitUiControlButton[data-type="Info"]
{
	border-color: #46B8DA;
	background-color: #5BC0DE;
	color: #FFFFFF;
}

div.FitUiControlButton[data-type="Warning"]
{
	border-color: #D58512;
	background-color: #EC971F;
	color: #FFFFFF;
}

div.FitUiControlButton[data-type="Danger"]
{
	border-color: #D43F3A;
	background-color: #D9534F;
	color: #FFFFFF;
}

div.FitUiControlButton[style*="height"] > div
{
	/* Center icon and title vertically when height is set (works for
	   block and inline-block). Does not work on IE8 which is fine.
	   Also notice that this doesn't work on WebKit/Chrome unless
	   a repaint is forced: https://code.google.com/p/chromium/issues/detail?id=573715 */
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

div.FitUiControlButton > div > span[class^="fa"]
{
	padding-right: 8px;
}

div.FitUiControlButton[data-enabled="false"]
{
	cursor: not-allowed;
	opacity: 0.65;
}

div.FitUiControlButton:focus
{
	outline: none; /* Chrome fix - even though tabIndex is -1, control is still outlined when clicked */
}
div.FitUiControlButton[data-enabled="true"]:focus
{
	outline: 2px solid #3B99FC;
	outline-offset: 2px;
	border: 1px solid #3B99FC\9; /* Legacy IE (9 and earlier) which does not support outline */
}
