div.FitUiControlListView
{
	overflow-y: auto;
	overflow-x: hidden;
}

div.FitUiControlListView > div /* List item */
{
	padding: 0.25em;
	white-space: nowrap;
}

div.FitUiControlListView > div:hover
{
	background-color: #C3D9E0;
	cursor: pointer;
}

div.FitUiControlListView > div[data-active="true"]
{
	background-color: #A9D8E8;
}

div.FitUiControlListView:focus
{
	outline: none;
}
