div.FitUiControlProgressBar
{
	border: 1px solid #808080;
	border-radius: 3px;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.FitUiControlProgressBarStatus
{
	overflow: visible;
	width: 0%;

	background: rgb(191,210,85); /* #BFD255 */
	background: -webkit-linear-gradient(rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
	background: -moz-linear-gradient(rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
	background: -o-linear-gradient(rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
	background: linear-gradient(rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
}

div.FitUiControlProgressBarStatus span
{
	display: inline-block;
	padding: 4px;
}
